<section id="about-section" class="section">
  <div class="section-wrapper">
    <div class="fade-in">
      <h1 class="section-heading">Hey, I'm Marcin.</h1>
      <h3 class="section-subheading">I am Full Stack Software Engineer passionate about discovering and implementing new technologies and sharing my experience with others.</h3>
      <span class="divider"></span>
      <div class="about-wrapper">
	<img class="headshot" src="img/headshot.jpg" alt="headshot" />
        <div class="about-text-wrapper">
	  <p class="about-text">My predominant skillset is PHP / Java / Javascript / CSS but I also have experience with numerous other tools, frameworks and platforms. I do enjoy automating my day to day tasks and therefore I also have subset of administrative / DevOps skills including resource provisioning and configuration on Amazon Web Services platform. I do possess knowledge of Continous Integration and Continous Delivery especially with Jenkins CI.</p>
	  <p class="about-text">When I am not busy with Web or Cloud development I am exploring the world of robotics by building embedded software for Arduino, Intel Edison or ESP8266 microcontrollers or making my hands dirty while working with my motorcycle.</p>
        </div>
      </div>
    </div>
  </div>
</section>
